{% extends "base.html" %}

{% block content %}

<div id="user_info"><a href="{% url instagram-list username=info.instagram_username %}"><img src="{{ info.avatar_url }}"/><span class="name">{{ info.full_name }} ({{ info.instagram_username }})</span></a></div>

{% if not photos %}
    <p>This user hasn't taken any photos since they started releasing their
    photos under a Creative Commons license.  Check back soon!</p>
{% endif %}

<div id="recent_photos">
{% for photo in photos %}
    <div class="photo">
        <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.image_low_resolution }}"/></a>
        <a href="{{ photo.license_info.license_url }}"><div class="license-type {{ photo.license_info.license }}"></div></a>
        <div class="attribution">
          <a href="{% url instagram-list username=photo.license_info.instagram_username %}"><img src="{{ photo.license_info.avatar_url }}"/>{{ photo.license_info.full_name }}</a>
        </div>
    </div>
{% endfor %}
</div>

<div class="callout"><div class="ask"><a href="{% url socialauth_begin backend='instagram' %}" class="button">Join {{ info.full_name }}</a> and make the world a better, more creative place!</div></div>



{% endblock %}
